@font-face {
	font-family: Raleway;
	  src: url("../fonts/Raleway-Regular.ttf");
}


$backgroundcolor:			#fd6a62;

ul {
	list-style: none;
}



.red {
	background-color:red;
}

.green {
	background-color:green;
}

/*****************************************************
				GENERAL
*****************************************************/
body {
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
	background: $backgroundcolor;
	font-family: Raleway;
}

.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container{
	max-width: 950px;

}

/*****************************************************
				NAVBAR
*****************************************************/
.navbar{
	background-color: white;
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}




/*****************************************************
				CONTENT
*****************************************************/
 .center-content{
 	padding: 50px;
 	margin-top: 60px;
	background: white;
	margin-bottom: 30px;
	.center-content-inner{
		min-height:300px;
	}
	p{
		font-size: 18px;
		line-height: 1.5;
		margin-bottom: 30px;
	}
	a{
		float:right;
	}
	input{
		margin-left: 60px;
	}
	opacity:0.9;

	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.push-down{
	margin-top: 60px;
}


/*****************************************************
				input
*****************************************************/
.center-content-inner label{
	> p{
		font-size: 16px;
	}
}

input+p{
	border-bottom: 3px solid transparent;
	display: inline;
}
input:checked+p.correct {
	border-bottom: 3px solid #67c62d;
	display: inline;
	&.correct{

	}
}

label{
	font-weight: normal;
}
/*****************************************************
				REBECKAS COLORS
*****************************************************/


.pink{
    background-color:  #EFCDF8;
}
.bluegreen{
    background-color:  #e8aecc;
}
.purple{
    background-color:  #a8ebd1;
}
.lightgreen{
    background-color:  #bad3ef;
}
.magnus{
    background-color: #b2ffe5;
}
.butteryellow{
    background-color: #fffec2;
}
.slajmgreen{
    background-color: #d1fe86;
}
.violpurple{
    background-color: #e0c1fa;
}
.stina{
    background-color: #0ac2d2;
}
.elephant{
    background-color: #7bb7fa;
}
.panda{
    background-color: #60d7a9;
}
.labradoodle{
    background-color: #fdc162;
}
.dog{
    background-color: #fd6a62;
}
.palecat{
    background-color: #f68dbb;
}
.sparkling-faerie-horse{
	background-color: #A45CDB;
}





/*****************************************************
				FANCY CHECKBOXES
*****************************************************/
.label_check,
.label_radio    { padding-left: 34px; }
.label_radio    { background: url(../img/radio-off.png) no-repeat; }
.label_check    { background: url(../img/check-off.png) no-repeat; }
label.c_on      { background: url(../img/check-on.png) no-repeat; }
label.r_on      { background: url(../img/radio-on.png) no-repeat; }
.label_check input,
.label_radio input  { position: absolute; left: -9999px; }
