<div ng-hide="isMultiple" class="center-content">
  <div class="center-content-inner">
    <div class="row">
      <div class="col-lg-10 col-offset-1">
        <div class="row">
					<p class="examtip-content">{{ examtip.examtip }}<p>
        </div>
      </div>
    </div>
    <div class="row push-down">
      <div class="col-lg-4">
      	<a ng-href="#/examtips/ordered/{{ index - 1 }}">Previous</a>
      </div>
      <div class="col-lg-4">
      	<a ng-href="#/examtips/random/">Random</a>
      </div>
      <div class="col-lg-4">
      	<a ng-href="#/examtips/ordered/{{ index + 1 }}">Next</a>
      </div>
    </div>
  </div>
</div>	