<div ng-hide="isMultiple()" class="center-content">

    <div class="row trainee-min-height">
      <div class="row">
        <div class="col-lg-12">
          <p>{{ question.question }}</p>
        </div>
      </div>
    
      <div class="row">
        <div class="col-lg-10 col-offset-1">
          <div class="row">
            <label class="label_radio">
              <input ng-change="checkAnswer()" ng-model="answer" type="radio" name="1" value="A" />
              <p ng-class="{'correct':correct}">{{question.a}}</p>
            </label>
          </div>
          <div class="row">
            <label class="label_radio">
              <input ng-change="checkAnswer()" ng-model="answer" type="radio" name="1" value="B" />
              <p ng-class="{'correct':correct}">{{question.b}}</p>
            </label>
          </div>
          <div class="row">
            <label class="label_radio">
              <input ng-change="checkAnswer()" ng-model="answer" type="radio" name="1" value="C" />
              <p ng-class="{'correct':correct}">{{question.c}}</p>
            </label>
          </div>
          <div class="row">
            <label class="label_radio">
              <input ng-change="checkAnswer()" ng-model="answer" type="radio" name="1" value="D" />
              <p ng-class="{'correct':correct}">{{question.d}}</p>
            </label>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-2 col-sm-2 col-push-10">
        <a ng-href="#/questions/ordered/{{ index + 1 }}" class="btn btn-default trainee-hundred">Next 
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
      
      <div class="col-lg-2 col-sm-2 col-push-6">
        <a ng-href="#/questions/random/" class="btn btn-default trainee-hundred">Random  
          <span class="glyphicon glyphicon-random"></span>
        </a>
      </div>

      <div class="col-lg-2 col-sm-2 col-push-2">
        <a ng-href="#/questions/ordered/{{ index - 1 }}" class="btn btn-default trainee-hundred">
          <span class="glyphicon glyphicon-chevron-left"> Previous</span>
        </a>
      </div>
      
      <div class="col-lg-6 col-sm-6 col-pull-6">
        <p class="percentage btn btn-default trainee-hundred">{{ percentage }}%</p>
      </div>
    </div>
</div>

<div ng-show="isMultiple()" class="center-content">
  <div class="row trainee-min-height">
    <div class="row">
      <div class="col-lg-12">
        <p>{{ question.question }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-offset-1">
        <div class="row">
          <label class="label_check">
            <input ng-change="checkAnswerBox()" ng-model="answer_a" type="checkbox" name="1" value="A" ng-true-value="A" ng-false-value="" />
            <p ng-class="{'correct':correct}">{{question.a}}</p>
          </label>
        </div>
        <div class="row">
          <label class="label_check">
            <input ng-change="checkAnswerBox()" ng-model="answer_b" type="checkbox" name="1" value="B" ng-true-value="B" ng-false-value="" />
            <p ng-class="{'correct':correct}">{{question.b}}</p>
          </label>
        </div>
        <div class="row">
          <label class="label_check">
            <input ng-change="checkAnswerBox()" ng-model="answer_c" type="checkbox" name="1" value="C" ng-true-value="C" ng-false-value="" />
            <p ng-class="{'correct':correct}">{{question.c}}</p>
          </label>
        </div>
        <div class="row">
          <label class="label_check">
            <input ng-change="checkAnswerBox()" ng-model="answer_d" type="checkbox" name="1" value="D" ng-true-value="D" ng-false-value="" />
            <p ng-class="{'correct':correct}">{{question.d}}</p>
          </label>
        </div>
      </div>
    </div>


    </div>
    <div class="row">
      <div class="col-lg-6">
        <p class="percentage btn btn-default trainee-hundred">{{ percentage }}%</p>
      </div>
      <div class="col-lg-2">
        <a ng-href="#/questions/ordered/{{ index - 1 }}" class="btn btn-default trainee-hundred">
          <span class="glyphicon glyphicon-chevron-left"> Previous</span>
        </a>
      </div>
      <div class="col-lg-2">
        <a ng-href="#/questions/random/" class="btn btn-default trainee-hundred">Random  
          <span class="glyphicon glyphicon-random"></span>
        </a>
      </div>
      <div class="col-lg-2">
        <a ng-href="#/questions/ordered/{{ index + 1 }}" class="btn btn-default trainee-hundred">Next 
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
</div>
